html{
    background-color: #141414;
    height: 100vh;
    color: white;
    font-family: 'InterFont', sans-serif;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.profile{
    border-radius: 10px;
    padding: 30px 25px;
    height: 600px;
    width: 360px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar{
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}
.name{
    margin: 10px;
    font-size: 24px;
}
.address{
    color: greenyellow;
    margin-bottom: 30px;
}
.bio{
    margin-bottom: 10px;
    font-size: 15px;
}
.socialprofile{
    list-style: none;
    margin: 0;
}
.socialprofile a{
    text-decoration: none;
    color: inherit;
}
.sociallink{
    cursor: pointer;
    border-radius: 10px;
    background-color: #333333;
    width: 310px;
    height: 40px;
    margin-top: 15px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
}
.sociallink:hover{
    color: black;
    background-color: yellowgreen;
}
.attribution{
    margin-top: 10px;
}
@font-face {
    font-family: 'InterFont';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}
